 &getOSM
! The line above must not be changed
!
! The values below are the default values for this program
!
! number of top matches to be used for OSM map
 nmatch = 20,
! input dot product file name
 dotproductfile = 'undefined',
! output tiff file name 
 tiffname = 'undefined',
 /
